version: "3.3"
name: legalario-app
services:
    # PHP service
    app:
        build: .
        container_name: legalario_app
        working_dir: "/var/www"
        volumes:
            - ../:/var/www
            - ./docker-php-custom.ini:/usr/local/etc/php/conf.d/docker-php-custom.ini
    
    db_app:
        image: mysql:8
        container_name: legalario_db
        ports:
            - '3317:3306'
        environment:
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD:-secret}'
            MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD:-root}'
        volumes:
            - './db:/var/lib/mysql'
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            retries: 5
            start_period: 30s

    # Nginx service
    nginx:
        image: nginx:alpine
        container_name: legalario_nginx
        ports:
            - 8091:80
        volumes:
            - ../:/var/www
            - ./nginx/conf.d/:/etc/nginx/conf.d/